$color1: #78ddff;
$color2: #ffeb7a;
$color3: #ff7878;
$color4: #f678ff;
$title-color: #fff;
$title-font: Arial, Helvetica, sans-serif;
$text-color: #333;
$hover-color: #aaa;

$grade: linear-gradient(60deg, $color1 12.50%, $color2 12.50%, $color2 25%, $color3 25%, $color3 37.50%, $color4 37.50%, $color4 50%, $color1 50%, $color1 62.50%, $color2 62.50%, $color2 75%, $color3 75%, $color3 87.50%, $color4 87.50%, $color4 100%);

